
$font-sizes: (
  7: 0.75rem,
  8: 0.65rem,
  9: 0.55rem,
  10: 0.45rem,
);


$border-widths: (
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
);


$btn-padding-y: 0.75rem;
$btn-padding-x: 2.5rem;


$grid-gutter-width: 0.5rem;


$card-bg: #000; 
$card-color: #00ffea; 
$card-border-radius: 2rem;


$danger: #ff0077;
$info: #00ffea;
$light: #f3eeff;


$badge-border-radius: 50rem;
$input-border-radius: 50rem;
$btn-border-radius: 50rem;


$theme-colors: (
  "epicode-1": #5726c3,
  "epicode-2": #8625a5,
  "epicode-3": #cb2376,
);


$grid-breakpoints: (
  3xl: 1600px,
  4xl: 1800px,
);
$container-max-widths: (
  3xl: 1520px,
  4xl: 1720px,
);
